<div class="banner-shop" style="background-image: linear-gradient(rgba(249, 203, 156, 0.3),rgba(246, 176, 0, 0.5)), url(<%= @shop.banner_url%>);">
  <div class="container">
    <figure id="logo-shop">
       <%= image_tag @shop.logo_url, alt: "logo de la boutique" %>
    </figure>
    <h1><%= @shop.brand_name.capitalize %></h1>
  </div>
</div>
<main>
  <section class="seller row py-4">
    <div class="container d-flex flex-column align-items-center">
      <figure class="avatar-shop">
        <%= image_tag @shop.avatar_url, alt: "photo commerçant" %>
      </figure>
      <h3><%= @shop.user.first_name %> <%= @shop.user.last_name %></h3>
      <p><%= @shop.user.status.capitalize %></p>
    </div>
  </section>
  <section class="row brand-details py-5">
    <div class=" container d-flex justify-content-between">
      <div class="col-12 col-md-6 rounded-3 shadow-sm py-4 px-5">
        <article>
          <h2><span>Notre marque</span></h2>
          <p><%= @shop.description %></p>
        </article>
      </div>
      <div class="col-12 col-md-5 rounded-3 shadow-sm py-4 px-5">
        <aside>
          <h2><span>Nous contactez</span></h2>
          <p><i class="fas fa-map-marker-alt"></i><%= @shop.address %></p>
          <div id="map" style="width: 100%; height: 200px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
          <p><i class="fas fa-phone-alt"></i><%= @shop.telephone %></p>
          <p><i class="fas fa-envelope"></i><%= @shop.user.email %></p>
          <p>Nos réseaux sociaux</p>
          <ul>
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-twitter"></i></li>
          </ul>
        </aside>
      </div>
    </div>
  </section>
  <section class="row bg-light py-5">
    <div class="container">
      <h2>Nos produits</h2>
      <div class="row mt-5 ">
        <% @shop.products.each do |product| %>
          <div class="col-12 col-md-6 col-lg-3 mb-4">
           <%= link_to product_path(product), class:"link-product" do %>
            <div class="card">

              <%= image_tag product.image_url %>
                <h3 class="card-title"><%= product.name %></h3>
                <p class="card-text"><%= product.category %></p>
                <p class="card-text"><%= product.description.truncate(60) %></p>
                <p class="price"><strong><%= product.price %> €</strong></p>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</main>
