
<div class= "container py-3 mt-5">
  <h1>Nos produits</h1>
    <div class= "row mt-5">
      <% @products.each do |product| %>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <%= link_to product_path(product), class: "link-product" do  %>
          <div class="card" >
            <%= image_tag product.image_url %>
            <div class="card-body">
              <h3 class="card-title"><%= product.name%></h3>
              <p class="card-text"><%= product.category%></p>
              <p class="card-text"><%= product.description.truncate(60) %></p>
              <p class="price"><strong><%= product.price %>€</strong></p>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
