<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>RailsAirbnbClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <nav>
      <div class="logo">
        <h4> Karib'Hair</h4>
      </div>

      <ul class="list-link">
        <li> <a  href="#">Nos produits</a></li>
        <li> <a  href="#">A propos</a></li>
      </ul>

      <ul class="list-icons">
        <li> <a  href="#"><i class="fas fa-shopping-bag"></i></a></li>
        <li><a href="#"><i class="fas fa-user"></i></a></li>
      </ul>
    </nav>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
